# Unsloth & vLLM (avoid numpy/xformers reinstallation issues manually)
unsloth
vllm

# Hugging Face Transformers (Gemma-3 support)
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3

# Additional dependencies
bitsandbytes
accelerate
xformers==0.0.29.post3
peft
trl==0.15.2
triton
cut_cross_entropy
unsloth_zoo
sentencepiece
protobuf
datasets
huggingface_hub
hf_transfer
